<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">Employee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/registration-component" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="fa fa-home"></i>
          Registration
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search-component" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="fa fa-search">           
          </i>
          Search
        </a>
      </li>      
    </ul>   
   
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>